xmlrpc.php
wp-trackback.php
wp-signup.php
wp-settings.php
wp-mail.php
wp-login.php
wp-load.php
wp-links-opml.php
wp-includes
wp-includes/*
wp-cron.php
wp-config.php
wp-config-sample.php
wp-comments-post.php
wp-blog-header.php
wp-admin
wp-activate.php
vvv-init.sh
readme.html
license.txt
wp-content/languages
wp-content/uploads
wp-content/upgrade
wp-content/plugins/*
!wp-content/plugins/custom-wpbakery-blocks
node_modules
wp-content/themes/*
!wp-content/mu-plugins
!wp-content/themes/zucchetti
!wp-content/themes/zucchetti/index.php
wp-content/themes/zucchetti/bower_components
wp-content/themes/zucchetti/node_modules
.idea
workspace.xml
.DS_Store
wp-content/debug.log
sftp-config.json
icons_old
original.xml
eor_blog_export.xml
import_logs
.env
php_errorlog
.vscode