
@font-face {
  font-family: "iconFont";
  src:  url('../fonts/iconFont.woff2?1760740068') format('woff2'),
        url('../fonts/iconFont.woff?1760740068') format('woff');
  font-weight: normal;
  font-style: normal;
}


@mixin iconFont {

  font-family: 'iconFont'!important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  background-color:transparent;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

}





[class^="rk-icon-"], [class*="rk-icon-"] {
  
  &:before {@include iconFont;}

}



.rk-icon-up-arrow:before {
  content: "\"
}
.rk-icon-down-arrow:before {
  content: "\"
}
.rk-icon-notes:before {
  content: "\"
}
.rk-icon-phone:before {
  content: "\"
}
.rk-icon-mail:before {
  content: "\"
}
.rk-icon-right-chevron:before {
  content: "\"
}
.rk-icon-left-chevron:before {
  content: "\"
}
.rk-icon-search:before {
  content: "\"
}
.rk-icon-user:before {
  content: "\"
}
.rk-icon-cart:before {
  content: "\"
}
.rk-icon-star:before {
  content: "\"
}
.rk-icon-plus-circle:before {
  content: "\"
}
.rk-icon-zoom:before {
  content: "\"
}
.rk-icon-loading:before {
  content: "\"
}
.rk-icon-fat-chevron-down:before {
  content: "\"
}
.rk-icon-fat-chevron-right:before {
  content: "\"
}
.rk-icon-fat-chevron-left:before {
  content: "\"
}
.rk-icon-right-arrow:before {
  content: "\"
}
.rk-icon-left-arrow:before {
  content: "\"
}
.rk-icon-calendar:before {
  content: "\"
}
.rk-icon-checkmark-circle:before {
  content: "\"
}
.rk-icon-gear-chart:before {
  content: "\"
}
.rk-icon-puzzle-lightbulb:before {
  content: "\"
}
.rk-icon-quote:before {
  content: "\"
}
.rk-icon-download:before {
  content: "\"
}
.rk-icon-resource:before {
  content: "\"
}
.rk-icon-arrow-circle:before {
  content: "\"
}
.rk-icon-play:before {
  content: "\"
}
.rk-icon-login:before {
  content: "\"
}